---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<br>
<strong>Book Chapter</strong>
<br>
Borrajo del Toro, Claudia (2021), “Hold Back the Dawn (1941): twenty years of negotiations of the representations of Mexico in American cinema and good neighbourliness policy”. In Messages from the United States-Mexico border. Historical reflections on tourism and national culture (1927-1945), coord. Diana Mendez and Victor Gruel. (Annual Selection for the 2018 University Book) Autonomous University of Baja California, Mexico.
<br>
Borrajo del Toro, Claudia (2019), From Cuba to Tijuana”. In My University Experiences: Written Memories of the Autonomous University of Baja California, 1950-2000, edited by David Piñera and Ramiro Jaimes. Autonomous University of Baja California, Mexico.
<br><br>
<strong>Peer Reviewed Journal</strong>
<br>
Borrajo del Toro, Claudia (2017), “The Tijuana River Basin and the Water Rights Disputes of the Otay System between Coronado and San Diego, 1929-1940.” Meyibó, No. 13, pp. 123-159.
<br><br>
<strong>Executive reports</strong>
<br>
Center for International Policy Research (contributing author) (2013), "North American Scenario", International Political Scenarios 2014-2020. 
<br>
Center for International Policy Research (contributing author) (2012), "Global and Multilateral Scenario", International Political Scenarios 2013-2017. 
<br>
Center for International Policy Research (contributing author) (2011), “Global and Multilateral Scenario", International Political Scenarios for Cuba's Foreign Policy 2012-2016. 
<br><br>
<strong>Blog</strong>
<br>
Borrajo del Toro, Claudia (2008-11-07), “She asked for it”. Masculinities in Cuba. <span class="wordwrap"><a target="blank" href="https://masculinidadescuba.blogspot.com/2008/11/ella-se-lo-busc.html">Link.</a></span>
<br>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



