---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<strong>Individual</strong>
<br>
<br>
Film Censorship in Mexico as a Tool of Public Diplomacy (1910-1950). <i>Institute of Historical Research, Autonomous University of Baja California, Mexico, 2019-2022.</i>
<br>
<br>
Formation of Social Representations of Tijuana in American Cinema (1930-1941). <i>Institute of Historical Research, Autonomous University of Baja California, Mexico, 2016-2018.</i>
<ul>
  <li>Research stays: Division of Cinema & Media Studies, School of Cinematic Arts of the University of Southern California, Los Angeles, USA, 2017.</li>
</ul>
<br>
<strong>Collaborative</strong>
<br>
<br>
Trends and Projection of Socio-Economic, Political, and Ideological Processes in the United States of America in the Second Decade of the 21st Century: Role, Influence, and Manifestations in the Formation of U.S. Policy Toward Cuba. <i> Center for International Policy Research (CIPI), Cuba, 2012-2013. </i>
<br>
<br>
Strategic Natural Resources in Global Geostrategy. <i>Center for International Policy Research (CIPI), Cuba, 2010-2012.</i>
<br>
<br>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

