---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

Tendencias y proyección de los procesos socio-económicos, políticos e ideológicos de los Estados Unidos de América en la segunda década del S. XXI: Papel, influencia y manifestaciones en el proceso de conformación de la política hacia Cuba. Límites, debilidades o vulnerabilidades, amenazas, fortalezas y oportunidades para avanzar los objetivos de la política exterior cubana con respecto a Estados Unidos de América. <strong>Centro de Investigaciones y Política Internacional (CIPI).</strong> 2012-2013
<br>
<br>
Los Recursos naturales estratégicos en la geoestrategia mundial. <strong>Centro de Investigaciones y Política Internacional (CIPI).</strong>strong> 2010-2012

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

