---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<h2>Conference Presentations</h2><hr />
<br>
July 31, 2019. Speaker at the Baja California History Seminar, presenting: "The negotiation of the representations of Mexico in American cinema 1920-1940". Cathedral Hall, Social, Civic and Cultural Center Riviera de Ensenada, Baja California. Link: https://ensenada.net/noticias/nota.php?id=57681
<br>
<br>
Speaker at the Seminar "Mexican Cultural Diplomacy in the 20th Century", presenting “UNESCO's work in the promotion of educational cinema and cultural value as a diplomatic tool.” (Permanent Seminar on International History and Politics of the Michoacan University and the University Center for Social Research of the University of Colima, November 22 & 29, 2021)
<br<br>
Moderator at the XVI International Conference “History, Heritage and Border”. (Historical Research Institute, Autonomous University of Baja California, September 21-24, 2021)
<br><br>
Speaker at the workshop: “New approaches to the history of soft power in the 19th and 20th centuries”, presenting “Mexican censorship of foreign cinema as a strategy of cultural diplomacy (1913-1950).” (Pontifical Catholic University of Chile Santiago de Chile, December 10, 2020)
<br><br>
Speaker at the National Colloquium “Large companies, business families and regional and border businessmen. XVIII, XIX and XX Centuries”, presenting “Tourism and American Entrepreneurs in Tijuana. Indications for the study of the Mexican Agua Caliente Company during the thirties.” (The College of Sonora, October 22, 2020)
<br><br>
Speaker at the XV International Conference "History, Heritage and Border" presenting "The study of cinema from history: digital sources and methodology. Tijuana in the first half of the 20th century”. (Historical Research Institute, Autonomous University of Baja California, September 7, 2020)
<br><br>
Speaker at the Table of Analysis and Debate "Karl Marx (5/5/1818-5/5/2018). Tribute to his legacy”, 8va. Sociology Week, presenting "Carlos Marx and his vision of the future from historical materialism." (Faculty of Humanities and Social Sciences, Autonomous University of Baja California, May 4, 2018)
<br><br>
Speaker at the XIII International Conference "History, Heritage and Border" presenting "Negotiation of the representations of Mexico in American cinema: analysis of the film Hold Back the Dawn (1941)". (Historical Research Institute, Autonomous University of Baja California, May 4, 2018)
<br><br>
Speaker at the XIII International Conference "History, Heritage and Border" presenting "Proposal for the implementation of a digital laboratory for text processing and historical archiving." (Historical Research Institute, Autonomous University of Baja California, May 3, 2018)
<br><br>
Special participation as a speaker at the Workshop "Digital Historical Archives: production and dissemination." (Historical Archive of Tijuana, Municipal Institute of Art and Culture, April 4, 2018)
<br><br>
Speaker at the student board of the XII International Conference “History, Patrimony and Frontier”. (Historical Research Institute, Autonomous University of Baja California, May 3, 2017)
<br><br>
Participant at the scientific session “Trends and projection of Cuba-USA relations. in the bilateral, regional, and international framework. Policy projection towards Cuba. Elements of continuity and change.” ("Raúl Roa García" Higher Institute of International Affairs, Center for International Policy Investigations, and Cuban Ministry of Foreign Affairs, April 22, 2013)
<br><br>
Participant in the scientific session “Trends and projection of the political system of the United States of America. Political and social polarisation. Perspective Balance of Political Forces.” ("Raúl Roa García" Higher Institute of International Affairs, Center for International Policy Investigations, and Cuban Ministry of Foreign Affairs, April 11, 2013)
<br><br>
Participant in the scientific session "The economic, financial, fiscal and budget crises in the United States and their political impact." ("Raúl Roa García" Higher Institute of International Affairs, Center for International Policy Investigations, and Cuban Ministry of Foreign Affairs, March 14, 2013)
<br><br>
Participant in the scientific session "Evolution and current trends of the strategic conceptions of the foreign and security policy system in the military, internal security, intelligence and diplomatic spheres of the United States." ("Raúl Roa García" Higher Institute of International Affairs, Center for International Policy Investigations, and Cuban Ministry of Foreign Affairs, March 1, 2013)
<br><br>
Speaker at the XI American Studies Conference. Paper titled “The affair between national states and transnational mining companies in Latin America. The laugh and the crying.”. (Center for International Policy Investigations, November 2012)
<br><br>
Participant at the XIII Scientific Workshop "International Scenarios for Cuba's Foreign Policy 2013-2017". ("Raúl Roa García" Higher Institute of International Affairs, and Cuban Ministry of Foreign Affairs, September 2012)
<br><br>
Speaker at the Meeting of Young Researchers on issues of the World Economy. Paper titled “Brazil: The BRICS Observed, The BRICS Desired?” (World Economic Research Center, Cuba, October 7, 2011)
<br><br>
Participant at the XII Scientific Workshop "International Scenarios for Cuba's Foreign Policy 2012-2016". ("Raúl Roa García" Higher Institute of International Affairs, and Cuban Ministry of Foreign Affairs, September 2011)
<br><br>
Participant at the XI Scientific Workshop "International Scenarios for Cuba's Foreign Policy 2011-2013". ("Raúl Roa García" Higher Institute of International Affairs, and Cuban Ministry of Foreign Affairs, November 2010)
<br><br>

<h2>Videos</h2><hr />
<br>
<br>
<strong>3rd Colloquium "Tourism, Cinema and Territory".</strong> The University of Castilla-La Mancha, the National Autonomous University of Mexico, and the University of Brasilia.
<br>
December 1, 2021
<br>
Presentation (Spanish audio): "The representations of Tijuana and Agua Caliente as border tourist spaces in the cinema of the thirties."
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eAPzLVjYs-k?si=rXsGgi1cbvKZClbJ&amp;start=16449" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<br>
<strong>Biannual Colloquium of History Students – Ph.D. Program 2020-2 (PMDH)</strong>
<br>
January 11, 2021
<br>
Presentation (Spanish audio): Film Censorship in Mexico as a Cultural Diplomacy Tool (1910-1950).
<br>
Commentator: Dr. Bernd Hausberger (COLMEX).
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mUt001iDMSk?si=0M0NU2sYuKADC6SU&amp;start=14786" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<br>
<strong>15th International Conference on History, Heritage, and Borders (XV Jornadas Internacionales "Historia, Patrimonio y Frontera")</strong>
<br>
September 28, 2020
<br>
Panel IV: Archives and Sources for the History of Baja California – Repositories, Consultation Conditions, and Study Opportunities.
<br>
Presentation (Spanish audio): Studying Film from a Historical Perspective: Digital Sources and Methodology – The Case of Tijuana in the First Half of the 20th Century
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cjnoIKrWLcs?si=glsBt1sVedWEuS8I&amp;start=2991" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<br>
<strong>13th International Conference on History, Heritage, and Borders (XIII Jornada Internacionales "Historia, Patrimonio y Frontera")</strong>
<br>
Broadcast live on May 4, 2018
<br>
Panel X: Messages at the Border. Representations and Propaganda Devices in the Binational Dialogue.
<br>
Presentation (Spanish audio): Negotiating Representations of Mexico in American Cinema: Analysis of the Film Hold Back the Dawn (1941).
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/AVoIqtw2F88?si=rxiUpUdBCTHb3Yq7&amp;start=2585" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<br>

<h2>Talks</h2><hr />
<br>
July 31, 2019. Speaker at the Baja California History Seminar, presenting: "The negotiation of the representations of Mexico in American cinema 1920-1940". Cathedral Hall, Social, Civic and Cultural Center Riviera de Ensenada, Baja California. Link: https://ensenada.net/noticias/nota.php?id=57681
<br>
<br>


{% if site.talkmap_link == true %}


{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
