---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<h2>Talks</h2><hr />
<br>
Talk 1.
<br>
<br>
Talk 2.
<h2>Presentations</h2><hr />
<br>
Presentation 1.
<br>
<br>
Presentation 2.
<br>
15th International Conference on History, Heritage, and Borders (XV Jornadas Internacionales "Historia, Patrimonio y Frontera")
<br>
September 28, 2020
<br>
Panel IV: Archives and Sources for the History of Baja California – Repositories, Consultation Conditions, and Study Opportunities.
<br>
Presentation (Spanish audio): Studying Film from a Historical Perspective: Digital Sources and Methodology – The Case of Tijuana in the First Half of the 20th Century
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cjnoIKrWLcs?si=glsBt1sVedWEuS8I&amp;start=2991" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<br>
13th International Conference on History, Heritage, and Borders (XIII Jornada Internacionales "Historia, Patrimonio y Frontera")
<br>
Broadcast live on May 4, 2018
<br>
Panel X: Messages at the Border. Representations and Propaganda Devices in the Binational Dialogue.
<br>
Presentation (Spanish audio): Negotiating Representations of Mexico in American Cinema: Analysis of the Film Hold Back the Dawn (1941).
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/AVoIqtw2F88?si=rxiUpUdBCTHb3Yq7&amp;start=2585" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>




{% if site.talkmap_link == true %}


{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
