---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
Former Lecturer at the <strong>Faculty of Economics and International Relations</strong>, <span class="wordwrap"><a href="https://www.uabc.mx">Autonomous University of Baja California</a>.</span>   
<br>
<strong>Courses Taught</strong>:
<br>
<ul>
<li>Contemporary World History (2022-2023)</li>
<li>Writing and Composition (2018-2023). <i>Follow <span class="wordwrap"><a href="https://tijuanacuenta.blogspot.com/">this link</a> to explore the blog associated with this class.</span></i></li>
<li>World Economic History (2018-2019)</li>
<li>Research Methodology (2018)</li>
</ul>
<br>
<br>
She joined the Academy of Social and Human Sciences of the Faculty. As part of her responsibilities, she contributed to curriculum development, including designing a new Learning Unit Program for the Economics and Actuarial Sciences program. Additionally, she collaborated on creating evaluation materials following the National Centre for the Evaluation of Higher Education (CENEVAL) methodology. She is experienced in working with large student groups and has adapted her teaching methods to in-person and virtual learning environments using Blackboard and Google Suite tools.
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
