---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
Former Lecturer at the <strong>Faculty of Economics and International Relations</strong>, <div class="wordwrap"><a href="https://www.uabc.mx/">Autonomous University of Baja California</a>.</div>
<br>
Courses Taught:
<br>
Contemporary World History (2022-2023)
<br>
Writing and Composition (2018-2023)
<br>
World Economic History (2018-2019)
<br>
Research Methodology (2018)

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
