---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
Former Lecturer at the <strong>Faculty of Economics and International Relations</strong>, <div class="wordwrap"><a href="https://www.uabc.mx/">Autonomous University of Baja California</a>.</div> As part of her responsibilities, she contributed to curriculum development, including the design of a new Learning Unit Program for the Economics and Actuarial Sciences program. Additionally, she collaborated on the creation of evaluation materials following the methodology of the National Centre for the Evaluation of Higher Education (CENEVAL). She is experienced in working with large student groups and has adapted her teaching methods to both in-person and virtual learning environments using Blackboard and Google Suite tools.
<br>
<strong>Courses Taught</strong>:
<br>
Contemporary World History (2022-2023)
<br>
Writing and Composition (2018-2023). <i>Follow <div class="wordwrap"><a href="https://tijuanacuenta.blogspot.com/">this link</a> to explore the blog associated with this class.</div></i> 
<br>
World Economic History (2018-2019)
<br>
Research Methodology (2018)
<br>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
